/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #6C757D;
    color: #E9ECEF;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.5em;
    background-color: #E9ECEF;
    color: #2D527C;
}

#logo-container {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    #logo-container > h1 {
        display: none;
    }
}

#logo {
    width: 3.5em;
    margin-right: 1rem;
}

#actual-path {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.btn-icon {
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

.btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
}

.btn-success {
    background-color: #198754;
    color: #E9ECEF;
}

.btn-success:hover {
    background-color: #479F76;
    animation: pulse;
    animation-delay: 500ms;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.btn-success:active {
    background-color: #0F5132;
    animation: none;
}

#card-container {
    margin: 0 auto;
    padding: 1rem 0.8rem 0 0.8rem;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.card {
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DEE2E6;
    color: #495057;
    border-radius: 10px;
}

.disabled-card {
    background-color: #ADB5BD;
    cursor: not-allowed;
    user-select: none;
}

.dir-card:hover {
    background-color: #ffffff;
    animation: pulse;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    user-select: none;
}

.card > div {
    display: flex;
    align-items: center;
}

.card-icon {
    font-size: 2rem;
}

.card-title {
    margin-left: 0.5rem;
}